@import 'base/color';
@import 'base/font';

// Main Menu

%menu-stick {
    background-color: $black;
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 40px;
}

.menu-top {
    @extend %menu-stick;
}

.menu-middle {
    @extend %menu-stick;
    margin-top: 10px;
}

.menu-bottom {
    @extend %menu-stick;
    margin-top: 10px;
}

.modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
}

.test {

    &.in {
        background-color: red;
    } 
}